@using System.Reflection
@using CompetitionPlatform.Controllers
@using CompetitionPlatform.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LykkeStreams</title>

    <environment names="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link rel="stylesheet" href="~/public/css/vendor/bootstrap-custom.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-datepicker.css" />
        <link rel="stylesheet" href="~/public/css/style.css" />
        <link rel="stylesheet" href="~/css/addstyle.css" />
    </environment>
    <environment names="Staging,Production">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link rel="stylesheet" href="~/public/css/vendor/bootstrap-custom.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-datepicker.css" />
        <link rel="stylesheet" href="~/public/css/style.css" />
        <link rel="stylesheet" href="~/css/addstyle.css" />
    </environment>

    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body class="new_page">
    <header class="header header--new">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-3">
                    <a href="/" class="logo header__logo">
                        <img src="~/img/lykke_new.svg" height="38" alt="" />
                        <span class="header__title">Streams</span>
                    </a>
                </div>
                <div class="col-xs-10 col-sm-9 col-md-6 text-center">
                    <button type="button" class="navbar-toggle collapsed btn btn--stroke pull-right" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <div class="t-simulate">
                            <div class="t-row">
                                <div class="t-cell">
                                    <ul class="nav nav--header">
                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="Allprojects">All projects</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="Myprojects">My projects</a>
                                            <a type="button" class="btn btn-circle new-project-button btn-sm" href="/Project/Create">+</a>
                                        </li>
                                    </ul>
                                    <a asp-area="" asp-controller="Home" asp-action="SignIn" class="visible-xs-inline-block visible-sm-inline-block btn">Sign In</a>
                                </div>
                            </div>
                        </div>
                        <ul class="social social--header visible-xs visible-sm">
                            <li><a href="https://www.facebook.com/groups/542506412568917/" target="_blank" class="social__item"><i class="icon icon--fb_simple"></i></a></li>
                            <li><a href="https://twitter.com/LykkeCity" target="_blank" class="social__item"><i class="icon icon--tw"></i></a></li>
                            <li><a href="http://instagram.com/lykkecity" target="_blank" class="social__item"><i class="icon icon--instagram"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ" target="_blank" class="social__item"><i class="icon icon--youtube"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/lykke-ag" target="_blank" class="social__item"><i class="icon icon--linkedin-icn"></i></a></li>
                            <li><a href="https://www.reddit.com/r/lykke/" target="_blank" class="social__item"><i class="icon icon--reddit"></i></a></li>
                            <li><a href="https://t.co/TmjMYnQD7T" target="_blank" class="social__item"><i class="icon icon--telegram"></i></a></li>
                        </ul>
                    </div>
                </div>
                @if (ClaimsHelper.GetUser(User.Identity).Email == null)
                {
                    <div class="col-sm-3 hidden-xs hidden-sm">
                        <a asp-area="" asp-controller="Home" asp-action="SignIn" class="btn btn-link pull-right">Sign In</a>
                    </div>
                }
                else
                {
                    <div class="col-md-3 hidden-xs hidden-sm">
                        <div class="navbar-right">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <ul class="nav nav--header pull-right">
                                    <li class="pull-right">
                                        <a class="dropdown__control" href="">@ClaimsHelper.GetUser(User.Identity).GetFullName()</a>
                                        <div class="dropdown__container">
                                            <ul class="dropdown__nav">
                                                <li><a asp-controller="Home" asp-action="LogOut" asp-route-id="">Sign Out</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </header>

    <article class="content page page--competition_platform">
        <div class="page_border"></div>
        @*<nav class="page_nav page__nav">
                <div class="page_nav__inner">
                    <div class="container">
                        <ul class="page_nav__list"></ul>

                    </div>
                </div>
            </nav>*@
        @RenderBody()
    </article>
    @*<footer class="footer page__footer">
            <div class="footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 hidden-xs text-left pull-left">
                            <div class="clearfix">
                                <div class="footer__copy">Ver. @typeof(HomeController).GetTypeInfo().Assembly.GetName().Version.ToString()</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 text-right pull-right">
                            <div class="clearfix">
                                <ul class="social social--footer_alt">
                                    <li><a href="https://www.linkedin.com/company/lykke-ag" target="_blank" class="social__item"><i class="icon_img icon_img--in"></i></a></li>
                                    <li><a href="https://www.facebook.com/groups/542506412568917/" target="_blank" class="social__item"><i class="icon_img icon_img--fb"></i></a></li>
                                    <li><a href="https://twitter.com/LykkeCity" target="_blank" class="social__item"><i class="icon_img icon_img--tw"></i></a></li>
                                    <li><a href="http://instagram.com/lykkecity" target="_blank" class="social__item"><i class="icon_img icon_img--inst"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ" target="_blank" class="social__item"><i class="icon_img icon_img--yt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 text-center">
                            <div class="footer__copy">&copy; Lykke 2016. All rights reserved</div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>*@

    <footer class="footer page__footer">
        <div class="footer__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-7 text-right pull-right">
                        <div class="clearfix">
                            <ul class="social social--footer_alt">
                                <li><a href="https://lykke.com/" target="_blank"><i class="icon icon--lykke"></i></a></li>
                                <li><a href="https://www.facebook.com/groups/542506412568917/" target="_blank" class="social__item"><i class="icon icon--fb_simple"></i></a></li>
                                <li><a href="https://twitter.com/LykkeCity" target="_blank" class="social__item"><i class="icon icon--tw"></i></a></li>
                                <li><a href="http://instagram.com/lykkecity" target="_blank" class="social__item"><i class="icon icon--instagram"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ" target="_blank" class="social__item"><i class="icon icon--youtube"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/lykke-ag" target="_blank" class="social__item"><i class="icon icon--linkedin-icn"></i></a></li>
                                <li><a href="https://www.reddit.com/r/lykke/" target="_blank" class="social__item"><i class="icon icon--reddit"></i></a></li>
                                <li><a href="https://t.co/TmjMYnQD7T" target="_blank" class="social__item"><i class="icon icon--telegram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-5 text-left">
                        <div class="footer__copy">
                            &copy; Lykke 2016. All rights reserved
                            <span class="middot">&middot;</span>
                            <a class="h5" href="/Home/Terms">Terms of Use</a>
                            <span class="middot">&middot;</span>
                            @typeof(HomeController).GetTypeInfo().Assembly.GetName().Version.ToString()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal modal--message fade" id="modal_success" tabindex="-1" role="dialog">

        <div class="modal_valign">
            <div class="modal_valign__row">
                <div class="modal_valign__cell">

                    <div class="modal__dialog" role="document">
                        <div class="modal__content">
                            <button type="button" class="close visible-xs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <div class="modal__header">
                                <div class="status_icon status_icon--success"></div>
                            </div>

                            <div class="modal__body">
                                <h3>You are participant!</h3>
                                <div class="text">
                                    <p>Thank you for registration! Now you’re Lykke Streams project participant.</p>
                                </div>
                            </div>
                            <div class="modal__footer">
                                <button type="button" class="btn btn-block" data-dismiss="modal">Okay, great!</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <a href="/Home/LeaveFeedback" class="btn btn_feedback">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17">
            <defs>
                <style>
                    .cls-1 {
                        fill: #fff;
                    }
                </style>
            </defs>
            <g id="Layer_2" data-name="Layer 2"><path class="cls-1" d="M2,17a1,1,0,0,1-.95-1.32l1-3A7.12,7.12,0,0,1,0,7.62C0,3.42,3.81,0,8.5,0S17,3.42,17,7.62s-3.81,7.62-8.5,7.62A9.41,9.41,0,0,1,6,14.91l-3.5,2A1,1,0,0,1,2,17ZM8.5,2C4.92,2,2,4.52,2,7.62a5.24,5.24,0,0,0,1.9,4,1,1,0,0,1,.29,1.08l-.4,1.17L5.38,13a1,1,0,0,1,.8-.08,7.35,7.35,0,0,0,2.31.37c3.58,0,6.5-2.52,6.5-5.62S12.08,2,8.5,2Z" id="Layer_1-2" data-name="Layer 1"></path></g>
        </svg>
        <span>Your Feedback</span>
    </a>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>

        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

        <script src="~/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/vendor/bootstrap.min.js"></script>
        <script src="~/js/vendor/fastclick.min.js"></script>
        <script src="~/js/vendor/jquery.inview.min.js"></script>
        <script src="~/js/functions_landing.js"></script>
        <script src="~/js/vendor/autosize.min.js"></script>
        <script src="~/js/vendor/bootstrap-datetimepicker.min.js"></script>
        <script src="~/public/js/vendor/clipboard.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">

        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">

        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>

        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

        <script src="~/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/vendor/bootstrap.min.js"></script>
        <script src="~/js/vendor/fastclick.min.js"></script>
        <script src="~/js/vendor/jquery.inview.min.js"></script>
        <script src="~/js/functions_landing.js"></script>
        <script src="~/js/vendor/autosize.min.js"></script>
        <script src="~/js/vendor/bootstrap-datetimepicker.min.js"></script>
        <script src="~/public/js/vendor/clipboard.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
