@using System.Reflection
@using CompetitionPlatform.Controllers
@using CompetitionPlatform.Helpers
<!DOCTYPE html>
<html>
<head>
    @{
        var shareImgLink = @Context.Request.Host + "/images/lykkeshare.jpg";
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="@shareImgLink" />
    <meta property="og:image:secure_url" content="@shareImgLink" />
    <link rel="image_src" href="@shareImgLink" />

    <title>@ViewData["Title"] - LykkeStreams</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/public/css/vendor/bootstrap-custom.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-datepicker.css" />
        <link rel="stylesheet" href="~/public/css/style.css" />
        <link rel="stylesheet" href="~/css/addstyle.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/public/css/vendor/bootstrap-custom.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-datepicker.css" />
        <link rel="stylesheet" href="~/public/css/style.css" />
        <link rel="stylesheet" href="~/css/addstyle.css" />
    </environment>

    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    @*@Html.ApplicationInsightsJavaScript(TelemetryConfiguration)*@

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-88904729-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body class="new_page">
    <aside class="menu_overlay"></aside>

    <aside class="sidebar_menu">
        <div class="sidebar_menu__inner">
            <div class="sidebar_menu__header">
                <button class="btn btn--icon btn_close_menu">
                    <i class="icon icon--close"></i>
                </button>
                <div class="header_logo">
                    <a href="/">
                        <img class="header_logo__img" src="~/public/img/lykke_new.svg" height="40" alt="lykke_logo">
                    </a>
                </div>
            </div>

            <div class="sidebar_menu__body">
                <ul class="main_projects_list">
                    <li class="main_projects_list__item">
                        <a href="https://www.lykke.com/" target="_blank" class="main_projects_list__link">
                            <div class="main_projects_list__img">
                                <img src="~/public/img/lykke_wallet_logo.svg" alt="lykke_wallet_logo" width="50">
                            </div>
                            <div class="main_projects_list__content">
                                <div class="main_projects_list__title">Lykke<span>Wallet</span></div>
                                <div class="main_projects_list__text">
                                    Trade FX and Digital Assets
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="main_projects_list__item">
                        <a href="https://streams.lykke.com/" target="_blank" class="main_projects_list__link">
                            <div class="main_projects_list__img">
                                <img src="~/public/img/streams_logo.svg" alt="streams_logo" width="50">
                            </div>
                            <div class="main_projects_list__content">
                                <div class="main_projects_list__title">Lykke<span>Streams</span></div>
                                <div class="main_projects_list__text">
                                    Collaboration platform. Here the great ideas meet bright minds
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="main_projects_list__item">
                        <a href="https://blockchainexplorer.lykke.com/" target="_blank" class="main_projects_list__link">
                            <div class="main_projects_list__img">
                                <img src="~/public/img/bl_explorer_logo.svg" alt="bl_explorer_logo" width="50">
                            </div>
                            <div class="main_projects_list__content">
                                <div class="main_projects_list__title">Blockchain<span>Explorer</span></div>
                                <div class="main_projects_list__text">
                                    Explore the Blockchain. Search transaction, assets, addresses or blocks
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="sidebar_menu__footer">
                <ul class="social">
                    <li><a href="https://www.facebook.com/groups/542506412568917/" target="_blank" class="social__item"><i class="icon icon--fb_simple"></i><span> Facebook</span></a></li>
                    <li><a href="https://twitter.com/LykkeCity" target="_blank" class="social__item"><i class="icon icon--tw"></i><span> Twitter</span></a></li>
                    <li><a href="http://instagram.com/lykkecity" target="_blank" class="social__item"><i class="icon icon--instagram"></i><span> Instagram</span></a></li>
                    <li><a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ" target="_blank" class="social__item"><i class="icon icon--youtube"></i><span> Youtube</span></a></li>
                    <li><a href="https://www.linkedin.com/company/lykke-ag" target="_blank" class="social__item"><i class="icon icon--linkedin-icn"></i><span> Linkedin</span></a></li>
                    <li><a href="https://www.reddit.com/r/lykke/" target="_blank" class="social__item"><i class="icon icon--reddit"></i><span> Reddit</span></a></li>
                    <li><a href="https://t.co/TmjMYnQD7T" target="_blank" class="social__item"><i class="icon icon--telegram"></i><span> Telegram</span></a></li>
                </ul>
            </div>
        </div>
    </aside>

    <div class="header_container">
        <header class="header">
            <div class="container">
                <div class="header__menu_button">
                    <button class="btn btn_menu btn--icon" type="button">
                        <span></span>
                    </button>
                </div>
                <div class="header__logo header_logo">
                    <a href="/">
                        <img class="header_logo__img" src="~/public/img/streams_logo.png" height="36" alt="lykke_logo">
                        <div class="header_logo__title">Streams</div>
                    </a>
                </div>
                <div class="header__actions header_actions pull-right">
                    @if (ClaimsHelper.GetUser(User.Identity).Email != null)
            {
                        <div class="header_actions__logout visible-xs pull-right">
                            <a asp-controller="Home" asp-action="LogOut" asp-route-id="" class="btn btn--icon btn_logout">
                                <i class="icon icon--exit"></i>
                            </a>
                        </div>
                    }
                    <div class="header_actions__login header_login pull-right">
                        @if (ClaimsHelper.GetUser(User.Identity).Email == null)
                        {
                            <div class="header_user dropdown__control">
                                <a asp-area="" asp-controller="Home" asp-action="SignIn">
                                    <div class="header_login__title">Sign in</div>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="header_user dropdown__control">
                                <div class="header_user__img">
                                    <img src="~/public/img/user_default.svg" width="40" alt="user_image">
                                </div>

                                <div class="header_login__title">@ClaimsHelper.GetFirstName(User.Identity)</div>
                            </div>

                            <div class="dropdown__container">
                                <ul class="dropdown__nav">
                                    <li>
                                        <a asp-controller="Home" asp-action="LogOut" asp-route-id="">Sign Out</a>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </header>
    </div>

    <nav class="header_nav">
        <div class="header_nav__inner">
            <div class="container">
                <a type="button" class="btn btn_create_project pull-right" href="/Project/Create"><i class="icon icon--add"></i></a>

                @{
                    var allProjects = ViewBag.AllProjects;
                    var myProjects = ViewBag.MyProjects;
                    var faq = ViewBag.Faq;

                    var allProjectsActive = allProjects != null && allProjects ? "nav_list__item--active" : "";
                    var myProjectsActive = myProjects != null && myProjects ? "nav_list__item--active" : "";
                    var faqActive = faq != null && faq ? "nav_list__item--active" : "";
                }

                <ul class="header_nav__list nav_list">
                    <li class="nav_list__item @allProjectsActive"><a asp-area="" asp-controller="Home" asp-action="Allprojects">All projects</a></li>
                    <li class="nav_list__item @myProjectsActive"><a asp-area="" asp-controller="Home" asp-action="Myprojects">My projects</a></li>
                    <li class="nav_list__item @faqActive"><a href="/Home/Faq">FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <article class="content page page--competition_platform">
        @RenderBody()
    </article>
    <footer class="footer">
        <div class="footer__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 text-right pull-right">
                        <div class="clearfix">
                            <ul class="social social--footer_alt">
                                <li><a href="https://lykke.com/" target="_blank"><i class="icon icon--lykke"></i></a></li>
                                <li><a href="https://www.facebook.com/groups/542506412568917/" target="_blank" class="social__item"><i class="icon icon--fb_simple"></i></a></li>
                                <li><a href="https://twitter.com/LykkeCity" target="_blank" class="social__item"><i class="icon icon--tw"></i></a></li>
                                <li><a href="http://instagram.com/lykkecity" target="_blank" class="social__item"><i class="icon icon--instagram"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ" target="_blank" class="social__item"><i class="icon icon--youtube"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/lykke-ag" target="_blank" class="social__item"><i class="icon icon--linkedin-icn"></i></a></li>
                                <li><a href="https://www.reddit.com/r/lykke/" target="_blank" class="social__item"><i class="icon icon--reddit"></i></a></li>
                                <li><a href="https://t.co/TmjMYnQD7T" target="_blank" class="social__item"><i class="icon icon--telegram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 text-left">
                        <div class="footer__copy">
                            &copy; Lykke @DateTime.Now.Year.ToString(). All rights reserved
                            <span class="middot">&middot;</span>
                            <a class="bold" href="/Home/Terms">Terms of Use</a>
                            <span class="middot">&middot;</span>
                            @typeof(HomeController).GetTypeInfo().Assembly.GetName().Version.ToString()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal modal--message fade" id="modal_success" tabindex="-1" role="dialog">

        <div class="modal_valign">
            <div class="modal_valign__row">
                <div class="modal_valign__cell">

                    <div class="modal__dialog" role="document">
                        <div class="modal__content">
                            <button type="button" class="close visible-xs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <div class="modal__header">
                                <div class="status_icon status_icon--success"></div>
                            </div>

                            <div class="modal__body">
                                <h3>You are participant!</h3>
                                <div class="text">
                                    <p>Thank you for registration! Now you’re Lykke Streams project participant.</p>
                                </div>
                            </div>
                            <div class="modal__footer">
                                <button type="button" class="btn btn-block" data-dismiss="modal">Okay, great!</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="modal modal--message fade" id="modal_voted_for_result" tabindex="-1" role="dialog">

        <div class="modal_valign">
            <div class="modal_valign__row">
                <div class="modal_valign__cell">

                    <div class="modal__dialog" role="document">
                        <div class="modal__content">
                            <button type="button" class="close visible-xs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <div class="modal__header">
                                <div class="status_icon status_icon--success"></div>
                            </div>

                            <div class="modal__body">
                                <h3>Thanks for voting!</h3>
                                <div class="text">
                                    <p>Your vote has been accepted!</p>
                                </div>
                            </div>
                            <div class="modal__footer">
                                <button type="button" class="btn btn-block" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="modal modal--message fade" id="modal_result_vote_removed" tabindex="-1" role="dialog">

        <div class="modal_valign">
            <div class="modal_valign__row">
                <div class="modal_valign__cell">

                    <div class="modal__dialog" role="document">
                        <div class="modal__content">
                            <button type="button" class="close visible-xs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <div class="modal__body">
                                <div class="text">
                                    <p>You have successfully removed your vote!</p>
                                </div>
                            </div>
                            <div class="modal__footer">
                                <button type="button" class="btn btn-block" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <a href="/Home/LeaveFeedback" class="btn btn_feedback">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17">
            <defs>
                <style>
                    .cls-1 {
                        fill: #fff;
                    }
                </style>
            </defs>
            <g id="Layer_2" data-name="Layer 2"><path class="cls-1" d="M2,17a1,1,0,0,1-.95-1.32l1-3A7.12,7.12,0,0,1,0,7.62C0,3.42,3.81,0,8.5,0S17,3.42,17,7.62s-3.81,7.62-8.5,7.62A9.41,9.41,0,0,1,6,14.91l-3.5,2A1,1,0,0,1,2,17ZM8.5,2C4.92,2,2,4.52,2,7.62a5.24,5.24,0,0,0,1.9,4,1,1,0,0,1,.29,1.08l-.4,1.17L5.38,13a1,1,0,0,1,.8-.08,7.35,7.35,0,0,0,2.31.37c3.58,0,6.5-2.52,6.5-5.62S12.08,2,8.5,2Z" id="Layer_1-2" data-name="Layer 1"></path></g>
        </svg>
        <span>Your Feedback</span>
    </a>

    <environment names="Development">
        <script src="~/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/vendor/bootstrap.min.js"></script>
        <script src="~/js/vendor/fastclick.min.js"></script>
        <script src="~/public/js/vendor/jquery.fancybox.min.js"></script>
        <script src="~/js/vendor/jquery.inview.min.js"></script>
        <script src="~/js/functions_landing.js"></script>
        <script src="~/js/vendor/autosize.min.js"></script>
        <script src="~/public/js/vendor/moment.min.js"></script>
        <script src="~/js/vendor/bootstrap-datetimepicker.min.js"></script>
        <script src="~/public/js/vendor/clipboard.min.js"></script>
        <script src="~/assets/js/functions.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="~/js/vendor/bootstrap.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/vendor/fastclick.min.js"></script>
        <script src="~/public/js/vendor/jquery.fancybox.min.js"></script>
        <script src="~/js/vendor/jquery.inview.min.js"></script>
        <script src="~/js/functions_landing.js"></script>
        <script src="~/js/vendor/autosize.min.js"></script>
        <script src="~/public/js/vendor/moment.min.js"></script>
        <script src="~/js/vendor/bootstrap-datetimepicker.min.js"></script>
        <script src="~/public/js/vendor/clipboard.min.js"></script>
        <script src="~/assets/js/functions.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
