@model CompetitionPlatform.Models.ProjectViewModels.AddResultViewModel

<br />
<br />
<br />
<section class="section section--competition_edit">
    <div class="container">
        <div class="content__left">
            <form asp-controller="ProjectDetails" asp-action="SaveResult" enctype="multipart/form-data" class="form form--share_result">
                <input asp-for="@Model.ProjectId" type="hidden" />
                <input asp-for="@Model.ParticipantId" type="hidden" />
                <input asp-for="@Model.ParticipantIdentifier" type="hidden" />
                <div class="row">
                    <div class="col-md-9">
                        <input asp-for="@Model.Link" class="form-control" type="text" placeholder="Insert link for the shared file(Dropbox, googleDrive, GitHub)" />
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-md"><i class="icon icon--share_result"></i> Send Result</button>
                    </div>
                    <div class="col-md-9">
                        <br />
                        <span asp-validation-for="@Model.Link" class="text-danger" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
