@using System.Threading.Tasks
@using CompetitionPlatform.Models.ProjectViewModels
@model CompetitionPlatform.Models.ProjectViewModels.ProjectEditStatusDisplayViewModel

<div class="container project-edit-status-display col-md-12">
    <div class="row">
        @{
            var projectStatusCircleColorInitiative = "";
            var projectStatusCircleColorCompetitionRegistration = "";
            var projectStatusCircleColorImplementation = "";
            var projectStatusCircleColorVoting = "";
            var projectStatusCircleColorArchive = "";
        }
        @if (Model.Status == Status.Initiative)
            {
                projectStatusCircleColorInitiative = "project-edit-status-initiative";
            }
        @if (Model.Status == Status.CompetitionRegistration)
            {
                projectStatusCircleColorInitiative = "project-edit-status-initiative";
                projectStatusCircleColorCompetitionRegistration = "project-edit-status-competitionregistration";
            }
        @if (Model.Status == Status.Implementation)
            {
                projectStatusCircleColorInitiative = "project-edit-status-initiative";
                projectStatusCircleColorCompetitionRegistration = "project-edit-status-competitionregistration";
                projectStatusCircleColorImplementation = "project-edit-status-implementation";
            }
        @if (Model.Status == Status.Voting)
            {
                projectStatusCircleColorInitiative = "project-edit-status-initiative";
                projectStatusCircleColorCompetitionRegistration = "project-edit-status-competitionregistration";
                projectStatusCircleColorImplementation = "project-edit-status-implementation";
                projectStatusCircleColorVoting = "project-edit-status-voting";
            }
        @if (Model.Status == Status.Archive)
            {
                projectStatusCircleColorInitiative = "project-edit-status-initiative";
                projectStatusCircleColorCompetitionRegistration = "project-edit-status-competitionregistration";
                projectStatusCircleColorImplementation = "project-edit-status-implementation";
                projectStatusCircleColorVoting = "project-edit-status-voting";
                projectStatusCircleColorArchive = "project-edit-status-archive";
            }
        <div class="project-edit-status-circles">
            <div>
                <span class="btn project-edit-status @projectStatusCircleColorInitiative">1</span>
                <div class="inline col-md-2">
                    <hr />
                </div>
            </div>
            <div>
                <span class="btn project-edit-status @projectStatusCircleColorCompetitionRegistration">2</span>
                <div class="inline col-md-2">
                    <hr />
                </div>
            </div>
            <div>
                <span class="btn project-edit-status @projectStatusCircleColorImplementation">3</span>
                <div class="inline col-md-2">
                    <hr />
                </div>
            </div>
            <div>
                <span class="btn project-edit-status @projectStatusCircleColorVoting">4</span>
                <div class="inline col-md-2">
                    <hr />
                </div>
            </div>
            <div>
                <span class="btn project-edit-status @projectStatusCircleColorArchive">5</span>
            </div>
        </div>

        @if (Model.Status == Status.Initiative)
        {
            <div class="container col-md-12">
                <div class="row">
                    <div class="col-md-9">
                        <p class="text-muted">The project must go through several stages before the competition starts. At Initiative stage the project must collect a minimum of 40 votes for a competition to start. Once this amount is collected, the project can be transfered to the status of competition registration.</p>
                    </div>
                    <div class="col-md-3">
                        <p class="bold-text">@(Model.VotesFor + Model.VotesAgainst) VOTES</p>
                        <hr />
                        @await Html.PartialAsync("VotingBarsPartial", new ProjectVoteViewModel
                   {
                       VotesFor = Model.VotesFor,
                       VotesAgainst = Model.VotesAgainst
                   })
                    </div>
                </div>
            </div>

        }
    </div>
</div>