@model CompetitionPlatform.Models.ProjectViewModels.ProjectViewModel

@{
    ViewData["Title"] = "Edit Project";
}

<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-sm btn-info project-details-back">
    <span class="glyphicon glyphicon-menu-left"></span>
    <p class="inline">Back to Projects</p>
</a>

<div class="row col-md-12">
    <h2 class="inline">Edit Project</h2>
    <p class="navbar-right project-edit-last-updated"><span class="text-muted">Last Updated </span> @Model.LastModified.ToString("MMMM dd, yyyy")</p>
</div>

<div class="container project-edit-status-circles col-md-12">
    <div class="row">
        @{
            var projectStatusCircleColorInitiative = "";
            var projectStatusCircleColorCompetitionRegistration = "";
            var projectStatusCircleColorImplementation = "";
            var projectStatusCircleColorVoting = "";
            var projectStatusCircleColorArchive = "";
        }
        @if (Model.Status == Status.Initiative)
            {
                projectStatusCircleColorInitiative = "project-edit-status-initiative";
            }
        @if (Model.Status == Status.CompetitionRegistration)
            {
                projectStatusCircleColorInitiative = "project-edit-status-initiative";
                projectStatusCircleColorCompetitionRegistration = "project-edit-status-competitionregistration";
            }
        @if (Model.Status == Status.Implementation)
            {
                projectStatusCircleColorInitiative = "project-edit-status-initiative";
                projectStatusCircleColorCompetitionRegistration = "project-edit-status-competitionregistration";
                projectStatusCircleColorImplementation = "project-edit-status-implementation";
            }
        @if (Model.Status == Status.Voting)
            {
                projectStatusCircleColorInitiative = "project-edit-status-initiative";
                projectStatusCircleColorCompetitionRegistration = "project-edit-status-competitionregistration";
                projectStatusCircleColorImplementation = "project-edit-status-implementation";
                projectStatusCircleColorVoting = "project-edit-status-voting";
            }
        @if (Model.Status == Status.Archive)
            {
                projectStatusCircleColorInitiative = "project-edit-status-initiative";
                projectStatusCircleColorCompetitionRegistration = "project-edit-status-competitionregistration";
                projectStatusCircleColorImplementation = "project-edit-status-implementation";
                projectStatusCircleColorVoting = "project-edit-status-voting";
                projectStatusCircleColorArchive = "project-edit-status-archive";
            }

        <div class="">
            <span class="btn project-edit-status @projectStatusCircleColorInitiative">1</span>
            <div class="inline col-md-2">
                <hr />
            </div>
        </div>
        <div class="">
            <span class="btn project-edit-status @projectStatusCircleColorCompetitionRegistration">2</span>
            <div class="inline col-md-2">
                <hr />
            </div>
        </div>
        <div class="">
            <span class="btn project-edit-status @projectStatusCircleColorImplementation">3</span>
            <div class="inline col-md-2">
                <hr />
            </div>
        </div>
        <div class="">
            <span class="btn project-edit-status @projectStatusCircleColorVoting">4</span>
            <div class="inline col-md-2">
                <hr />
            </div>
        </div>
        <div class="">
            <span class="btn project-edit-status @projectStatusCircleColorArchive">5</span>
        </div>
    </div>
</div>

<form asp-action="SaveProject" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Basic Info</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="@Model.Id" type="hidden" />
        <input asp-for="@Model.VotesFor" type="hidden" />
        <input asp-for="@Model.VotesAgainst" type="hidden" />

        <div class="form-group">
            <div class="col-md-4">
                <select asp-for="@Model.Status" class="form-control">
                    @foreach (var status in Enum.GetValues(typeof(Status)))
                    {
                        <option value=@status>Status: @status</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-9">
                <div>
                    <label class="control-label">Brief</label>
                </div>
                <label class="btn btn-info btn-file">
                    Choose File... <input type="file" name="File" style="display: none;">
                </label>
                <label class="help-block inline">Maximum file size is 3Mb</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label">Category</label>
                <select asp-for="@Model.Category" class="form-control">
                    <option>Finance</option>
                    <option>Technology</option>
                    <option>Bitcoin</option>
                    <option>Mobile</option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="control-label">Tags</label>
                <input asp-for="Tags" class="form-control" />
            </div>
        </div>

        <h4>Deadlines</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-3">
                <label asp-for="CompetitionRegistrationDeadline" class="control-label"></label>
                <input asp-for="CompetitionRegistrationDeadline" class="form-control datepicker" />
                <span asp-validation-for="CompetitionRegistrationDeadline" class="text-danger" />
            </div>
            <div class="col-md-3">
                <label asp-for="ImplementationDeadline" class="control-label"></label>
                <input asp-for="ImplementationDeadline" class="form-control datepicker" />
                <span asp-validation-for="ImplementationDeadline" class="text-danger" />
            </div>
            <div class="col-md-3">
                <label asp-for="VotingDeadline" class="control-label"></label>
                <input asp-for="VotingDeadline" class="form-control datepicker" />
                <span asp-validation-for="VotingDeadline" class="text-danger" />
            </div>
        </div>

        <h4>Budget</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-3">
                <label asp-for="BudgetFirstPlace" class="control-label"></label>
                <div class="input-group input-group-unstyled">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-usd"></i>
                    </span>
                    <input asp-for="BudgetFirstPlace" class="form-control" />
                </div>
                <span asp-validation-for="BudgetFirstPlace" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label asp-for="BudgetSecondPlace" class="control-label"></label>
                <div class="input-group input-group-unstyled">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-usd"></i>
                    </span>
                    <input asp-for="BudgetSecondPlace" class="form-control" />
                </div>
                <span asp-validation-for="BudgetSecondPlace" class="text-danger" />
            </div>
        </div>

        <hr />
        <div class="form-group">
            <div class="col-md-9">
                <input type="submit" value="Publish Project" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
