@using System.Threading.Tasks
@using CompetitionPlatform.Helpers
@using CompetitionPlatform.Models.ProjectViewModels
@model ProjectViewModel

@{
    ViewData["Title"] = "Project Details";
}
<div class="container col-md-12">
    <div class="row">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-sm btn-info project-details-back">
            <span class="glyphicon glyphicon-menu-left"></span>
            <p class="inline">Back to Projects</p>
        </a>
        <a asp-area="" asp-controller="Project" asp-action="Edit" asp-route-id="@Model.Id" class="navbar-right edit-project-button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
    </div>
</div>

@{
    var createdDays = (DateTime.UtcNow - Model.Created).Days;
    var modifiedDays = (DateTime.UtcNow - Model.LastModified).Days;
    var createdDaysAgo = "";
    var modifiedDaysAgo = "";

    if (createdDays == 0 || createdDays == 1)
    {
        createdDaysAgo = (createdDays == 0) ? "today" : "yesterday";
    }
    else
    {
        createdDaysAgo = " " + createdDays + " days ago";
    }

    if (modifiedDays == 0 || modifiedDays == 1)
    {
        modifiedDaysAgo = (modifiedDays == 0) ? "today" : "yesterday";
    }
    else
    {
        modifiedDaysAgo = " " + modifiedDays + " days ago";
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="project-details-projectname">@Model.Name</div>

            <div class="project-details-budget inline">
                <span>$@Model.BudgetFirstPlace</span>
                <div>
                    1<sup>ST</sup> PRIZE
                </div>
            </div>

            @if (Model.BudgetSecondPlace != null)
            {
                <div class="project-details-budget inline">
                    <span>$@Model.BudgetSecondPlace</span>
                    <div>
                        3x2<sup>ND</sup> PRIZE
                    </div>
                </div>
            }
            @await Html.PartialAsync("ProjectDetailsStatusBarPartial", Model.StatusBarPartial)

            <ul id="projectDetailsTabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#Info" aria-controls="Info" role="tab" data-toggle="tab">
                        Info
                    </a>
                </li>
                <li role="presentation">
                    <a href="#Participants" aria-controls="Participants" role="tab" data-toggle="tab">
                        Participants <span class="badge">@Model.ParticipantsPartial.Participants.Count()</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#Comments" aria-controls="Comments" role="tab" data-toggle="tab">
                        Comments <span class="badge">@Model.CommentsPartial.Comments.Count()</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#Results" aria-controls="Results" role="tab" data-toggle="tab">
                        Results <span class="badge">@Model.ResultsPartial.Results.Count()</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content project-details-tabs">
                <div role="tabpanel" class="tab-pane active" id="Info">
                    @Html.Raw(Model.Description)
                    @if (Model.FileInfo != null)
                    {
                        <div class="project-file">
                            @switch (Model.FileInfo.ContentType)
                            {
                                case ContentTypesHelper.Xls:
                                case ContentTypesHelper.Xlsx:
                                    <div class="inline">
                                        <img src="~/images/xls-file.png"
                                             alt="xls"
                                             asp-append-version="true" />
                                    </div>
                                    break;
                                case ContentTypesHelper.Pdf:
                                    <div class="inline">
                                        <img src="~/images/pdf-file.png"
                                             alt="pdf"
                                             asp-append-version="true" />
                                    </div>
                                    break;
                                case ContentTypesHelper.Jpg:
                                    <div class="inline">
                                        <img src="~/images/jpg-file.png"
                                             alt="jpg"
                                             asp-append-version="true" />
                                    </div>
                                    break;
                                case ContentTypesHelper.Doc:
                                case ContentTypesHelper.Docx:
                                    <div class="inline">
                                        <img src="~/images/doc-file.png"
                                             alt="doc"
                                             asp-append-version="true" />
                                    </div>
                                    break;
                                default:
                                    <div class="inline">
                                        <span class="glyphicon glyphicon-file inline project-file-icon"></span>
                                    </div>
                                    break;
                            }
                            <div class="project-details-file-info inline">
                                <div class="project-details-file-name">@Model.FileInfo.FileName</div>
                                <a asp-area="" asp-controller="ProjectDetails" asp-action="DownloadProjectFile" asp-route-id="@Model.Id">Download</a>
                            </div>
                        </div>
                    }
                </div>
                <div role="tabpanel" class="tab-pane" id="Participants">
                    @if (Model.IsParticipant && Model.Status == Status.Implementation)
                    {
                        <a asp-area="" asp-controller="ProjectDetails" asp-action="AddResult" asp-route-id="@Model.Id" class="btn btn-primary add-result-button">
                            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Add Result
                        </a>
                    }
                    @await Html.PartialAsync("ParticipantsPartial", Model.ParticipantsPartial)
                </div>
                <div role="tabpanel" class="tab-pane" id="Comments">
                    @await Html.PartialAsync("CommentsPartial", Model.CommentsPartial)
                </div>
                <div role="tabpanel" class="tab-pane" id="Results">
                    @await Html.PartialAsync("ResultsPartial", Model.ResultsPartial)
                </div>
            </div>
        </div>

        <div class="col-md-4 project-details-right-panel">
            @await Html.PartialAsync("ProjectDetailsStatusPartial", new ProjectDetailsStatusViewModel
       {
           ProjectId = Model.Id,
           Status = Model.Status,
           VotesFor = Model.VotesFor,
           VotesAgainst = Model.VotesAgainst,
           CompetitionRegistrationDeadline = Model.CompetitionRegistrationDeadline,
           ImplementationDeadline = Model.ImplementationDeadline,
           VotingDeadline = Model.VotingDeadline
       })

            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <div id="financeButton" class="btn btn-info text-muted">
                            <img src="~/images/finance-icn.svg"
                                 alt="Finance the project"
                                 asp-append-version="true" />
                            Finance
                        </div>
                        @if (!Model.IsFollowing)
                        {
                            <a asp-area="" asp-controller="ProjectDetails" asp-action="FollowProject" asp-route-id="@Model.Id" id="followButton" class="btn btn-info text-muted">
                                <img src="~/images/follow-icn.svg"
                                     alt="Finance the project"
                                     asp-append-version="true" />
                                Follow
                            </a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="ProjectDetails" asp-action="UnFollowProject" asp-route-id="@Model.Id" id="followButton" class="btn btn-info text-muted">
                                <div class="inline">
                                    Unfollow
                                </div>
                            </a>
                        }

                        <button id="etcButton" class="btn btn-info text-muted">
                            <span class="glyphicon glyphicon-option-horizontal vertical-align-middle" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="project-details-author">
                <div class="inline">
                    <img src="~/images/avatar.svg"
                         alt="@Model.AuthorFullName"
                         asp-append-version="true" />
                </div>
                <div class="inline project-details-author-text">
                    <div class="project-details-project-author">@Model.AuthorFullName.ToUpper()</div>
                    <div class="text-muted project-details-author-creator">Creator</div>
                </div>
            </div>

            <div>
                <p class="project-details-sidebar-date inline">
                    <span class="text-muted">Created</span> @Model.Created.ToString("MMMM dd, yyyy")
                </p>
                <div class="project-details-project-date inline">
                    @createdDaysAgo
                </div>
            </div>

            <div>
                <p class="project-details-sidebar-date inline">
                    <span class="text-muted">Updated</span> @Model.LastModified.ToString("MMMM dd, yyyy")
                </p>
                <div class="project-details-project-date inline">
                    @modifiedDaysAgo
                </div>
            </div>

            <div class="project-details-tags">
                <p class="bold-text project-details-header">TAGS</p>
                <hr />
                <div>
                    <div class="project-details-tag inline text-muted">
                        @Model.Category
                    </div>
                    @if (Model.TagsList != null)
                    {
                        foreach (var category in Model.TagsList)
                        {
                            <div class="project-details-tag inline text-muted">
                                @category
                            </div>
                        }
                    }
                </div>
            </div>

            <div class="project-details-share-icons">
                <p class="bold-text project-details-header">SHARE</p>
                <hr />
                <p class="inline">
                    <a href="https://www.facebook.com/groups/542506412568917/">
                        <img src="~/images/facebook-icn.svg" asp-append-version="true" alt="facebook" />
                    </a>
                </p>

                <a href="https://twitter.com/LykkeCity">
                    <img src="~/images/twitter-icn.svg" asp-append-version="true" alt="twitter" />
                </a>
            </div>

            <div>
                <p class="bold-text project-details-header">OTHER PROJECTS</p>
                <hr />
                @foreach (var project in Model.OtherProjects)
                {
                    <a class="other-projects-name" asp-controller="Project" asp-action="ProjectDetails" asp-route-id="@project.Id">@project.Name</a>
                    <div class="text-muted other-projects-budget-participants">
                        <div class="inline other-project-budget">
                            $@project.BudgetFirstPlace
                        </div>
                        @project.Members members
                    </div>
                }
            </div>
        </div>
    </div>
</div>
