@using System.Threading.Tasks
@model CompetitionPlatform.Models.ProjectViewModels.ProjectDetailsStatusViewModel

@if (Model.Status == Status.Initiative)
{
    <div>
        <p class="project-voting-text text-muted">Cast your vote for or against the competition. Do you think this is the project that Lykke City needs?</p>
        <div class="project-voting-buttons">

            <button id="voteForButton" class="btn btn-sm btn-primary alert-success">
                <span class="glyphicon glyphicon-thumbs-up"></span>
            </button>

            <button id="voteAgainstButton" class="btn btn-sm btn-primary alert-danger">
                <span class="glyphicon glyphicon-thumbs-down"></span>
            </button>

            <input asp-for="@Model.ProjectId" type="hidden" />

            <p class="inline">@(Model.VotesFor + Model.VotesAgainst) Votes</p>
            <div id="projectVoteResults" class="project-details-voting-bars">
            </div>
        </div>
    </div>
}
@if (Model.Status == Status.CompetitionRegistration)
{
    <div>
        <p class="project-voting-text text-muted">To participate in the contest with the prize, you must be registered in the competition. Registration can be completed any time.</p>
        <a asp-area="" asp-controller="ProjectDetails" asp-action="AddParticipant" asp-route-id="@Model.ProjectId" type="button" class="btn btn-primary project-details-status-button">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Participate
        </a>
    </div>
}
@if (Model.Status == Status.Implementation)
{
    <p class="project-voting-text text-muted">The contest began. You can no longer participate, but will be able to evaluate the results of the competition after @Model.ImplementationDeadline.ToString("MMMM d").</p>
}
@if (Model.Status == Status.Voting)
{
    <div>
        <p class="project-voting-text text-muted">The contest is finished You can help us determine the winners. Voting ends on @Model.VotingDeadline.ToString("MMMM d").</p>
        <button class="btn btn-primary project-details-status-button">
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Vote/Test
        </button>
    </div>
}
@if (Model.Status == Status.Archive)
{
    <div>
        <p class="project-voting-text text-muted">The competition and voting have completed. Winners were determined by the citizens of Lykke City.</p>
    </div>
}