@model CompetitionPlatform.Models.ProjectViewModels.ProjectDetailsStatusBarViewModel


@{
    var showDeadline = false;
    var showParticipantCount = false;
    var participantCount = (Model.ParticipantsCount == 1) ? Model.ParticipantsCount + " participant" : Model.ParticipantsCount + " participants";
    var deadline = "";
    var color = "";
    var status = @Model.Status.ToString().ToUpper();
}

@switch (Model.Status)
{
    case Status.Initiative:
        color = "blue";
        break;
    case Status.Registration:
        color = "green";
        showDeadline = true;
        showParticipantCount = true;
        deadline = Model.CompetitionRegistrationDeadline.ToString("MMMM dd");
        //status = "COMPETITION REGISTRATION";
        break;
    case Status.Implementation:
        color = "red";
        showDeadline = true;
        deadline = Model.ImplementationDeadline.ToString("MMMM dd");
        break;
    case Status.Voting:
        color = "yellow";
        showDeadline = true;
        deadline = Model.VotingDeadline.ToString("MMMM dd");
        break;
    case Status.Archive:
        color = "grey";
        break;
}


<!--green, red, yellow, blue-->
<div class="progress progress--@color">
    <div class="progress__bar" style="width: @Model.StatusCompletionPercent%"></div>
    <div class="progress__content">
        <div class="row">
            <div class="col-sm-6">
                <div class="progress__title">@status</div>
            </div>
            <div class="col-sm-6 text-right">
                <ul class="progress__info">
                    @if (showParticipantCount)
                    {
                        <li><i class="icon icon--participate"></i> @participantCount</li>
                    }
                    @if (showDeadline)
                    {
                        <li><i class="icon icon--deadline"></i> @deadline</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
