@using System.Threading.Tasks
@using CompetitionPlatform.Helpers
@model CompetitionPlatform.Models.ProjectViewModels.ProjectDetailsStatusViewModel

@if (Model.Status == Status.Initiative)
{
    <div>
        @if (ClaimsHelper.GetUser(User.Identity).Email != null)
        {
            <p class="text-muted small_desc">Cast your vote for or against the competition. Do you think this is the project that Lykke City needs?</p>
            <div class="voting_group">
                <button id="voteForButton" class="btn btn--circle btn--green _voting_btn" data-hover="Vote again"><i class="icon icon--vote_yes"></i><span>Yes</span></button>
                <button id="voteAgainstButton" class="btn btn--circle btn--red _voting_btn" data-hover="Vote again"><i class="icon icon--vote_no"></i><span>No</span></button>

                <div class="voting_group__value">@(Model.VotesFor + Model.VotesAgainst) votes</div>
                <div id="projectVoteResults" class="voting_group__status">
                </div>
            </div>
        }
        else
        {
            <p>
                Please
                <a asp-area="" asp-controller="Home" asp-action="SignIn" class="">Sign In</a>
                to Vote
            </p>
        }
    </div>
}
@if (Model.Status == Status.Registration)
{
    <a asp-area="" asp-controller="ProjectDetails" asp-action="AddParticipant" asp-route-id="@Model.ProjectId" type="button" class="btn btn-block btn_participate">
        <i class="icon icon--participate"></i>Participate
    </a>

    <p class="text-muted small_desc">To participate in the contest with the prize, you must be registered in the competition. Registration can be completed at any time.</p>
}
@if (Model.Status == Status.Submission)
{
    <a asp-area="" asp-controller="ProjectDetails" asp-action="AddParticipant" asp-route-id="@Model.ProjectId" type="button" class="btn btn-block btn_participate">
        <i class="icon icon--participate"></i>Participate
    </a>

    if (Model.IsParticipant && Model.Status == Status.Submission && !Model.HasResult)
    {
        <a asp-area="" asp-controller="ProjectDetails" asp-action="AddResult" asp-route-id="@Model.ProjectId" class="btn btn-block btn_participate">
            <i class="icon icon--share_result"></i> Add Your Result
        </a>
    }

    <p class="text-muted small_desc">The contest began. You can still participate, and will be able to evaluate the results of the competition after @Model.ImplementationDeadline.ToString("MMMM d").</p>
}
@if (Model.Status == Status.Voting)
{
    <div>
        <button id="voteTestButton" class="btn btn-block btn_participate">
            <i class="icon icon--vote"></i>Vote/Test
        </button>

        <p class="text-muted small_desc">The contest is finished You can help us determine the winners. Voting ends on @Model.VotingDeadline.ToString("MMMM d").</p>
    </div>
}
@if (Model.Status == Status.Archive)
{
    <div>
        <p class="text-muted small_desc">The competition and voting have completed. Winners were determined by the citizens of Lykke City.</p>
    </div>
}