@using System.Threading.Tasks
@using CompetitionPlatform.Models.ProjectViewModels
@model ProjectViewModel

@{
    ViewData["Title"] = "Project Details";
}
<div class="container col-md-12">
    <div class="row">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-sm btn-info project-details-back">
            <span class="glyphicon glyphicon-menu-left"></span>
            <p class="inline">Back to Projects</p>
        </a>
        <a asp-area="" asp-controller="Project" asp-action="Edit" asp-route-id="@Model.Id" class="navbar-right edit-project-button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>@Model.Name</h2>

            <div class="project-details-budget inline">
                <span class="h2 text-muted">$@Model.BudgetFirstPlace</span>
                <div>1st PLACE</div>
            </div>

            @if (Model.BudgetSecondPlace != null)
            {
                <div class="project-details-budget inline">
                    <span class="h2 text-muted">$@Model.BudgetSecondPlace</span>
                    <div>3x2nd PLACE</div>
                </div>
            }
            @await Html.PartialAsync("ProjectDetailsStatusBarPartial", Model.StatusBarPartial)

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#Info" aria-controls="Info" role="tab" data-toggle="tab">
                        Info
                    </a>
                </li>
                <li role="presentation">
                    <a href="#Participants" aria-controls="Participants" role="tab" data-toggle="tab">
                        Participants <span class="badge">@Model.ParticipantsPartial.Participants.Count()</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#Comments" aria-controls="Comments" role="tab" data-toggle="tab">
                        Comments <span class="badge">@Model.CommentsPartial.Comments.Count()</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#Results" aria-controls="Results" role="tab" data-toggle="tab">
                        Results <span class="badge">@Model.ResultsPartial.Results.Count()</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content project-details-tabs">
                <div role="tabpanel" class="tab-pane active" id="Info">
                    <div class="project-details-description">
                        @Model.Description
                    </div>
                    @if (Model.FileInfo != null)
                    {
                        <div class="project-file">
                            <div class="inline">
                                <span class="glyphicon glyphicon-file inline project-file-icon"></span>
                            </div>
                            <div class="inline">
                                <div class="bold-text">@Model.FileInfo.FileName</div>
                                <a asp-area="" asp-controller="ProjectDetails" asp-action="DownloadProjectFile" asp-route-id="@Model.Id">Download</a>
                            </div>
                        </div>
                    }
                </div>
                <div role="tabpanel" class="tab-pane" id="Participants">
                    @if (Model.IsParticipant && Model.Status == Status.Implementation)
                    {
                        <a asp-area="" asp-controller="ProjectDetails" asp-action="AddResult" asp-route-id="@Model.Id" class="btn btn-primary add-result-button">
                            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Add Result
                        </a>
                    }
                    @await Html.PartialAsync("ParticipantsPartial", Model.ParticipantsPartial)
                </div>
                <div role="tabpanel" class="tab-pane" id="Comments">
                    @await Html.PartialAsync("CommentsPartial", Model.CommentsPartial)
                </div>
                <div role="tabpanel" class="tab-pane" id="Results">
                    @await Html.PartialAsync("ResultsPartial", Model.ResultsPartial)
                </div>
            </div>
        </div>

        <div class="col-md-3 project-details-right-panel">
            @await Html.PartialAsync("ProjectDetailsStatusPartial", new ProjectDetailsStatusViewModel
       {
           ProjectId = Model.Id,
           Status = Model.Status,
           VotesFor = Model.VotesFor,
           VotesAgainst = Model.VotesAgainst,
           CompetitionRegistrationDeadline = Model.CompetitionRegistrationDeadline,
           ImplementationDeadline = Model.ImplementationDeadline,
           VotingDeadline = Model.VotingDeadline
       })
            <div>
                <p>
                    Category: <span class="label label-info">@Model.Category</span>
                </p>
            </div>

            <div>
                <p>
                    <span class="text-muted">Created</span> @Model.Created.ToString("MMMM dd, yyyy")
                </p>
            </div>

            <div>
                <p>
                    <span class="text-muted">Updated</span> @Model.LastModified.ToString("MMMM dd, yyyy")
                </p>
            </div>

            <div class="project-details-tags">
                <p class="bold-text project-details-header">TAGS</p>
                <hr />
                <div>
                    @if (Model.TagsList != null)
                    {
                        foreach (var category in Model.TagsList)
                        {
                            <div class="project-details-tag inline text-muted">
                                @category
                            </div>
                        }
                    }
                </div>
            </div>

            <div class="project-details-share-icons">
                <p class="bold-text project-details-header">SHARE</p>
                <hr/>
                <p class="inline">
                    <a href="https://www.facebook.com/groups/542506412568917/">
                        <img src="~/images/facebook-icn.svg" asp-append-version="true" alt="facebook" />
                    </a>
                </p>
                
                <a href="https://twitter.com/LykkeCity">
                    <img src="~/images/twitter-icn.svg" asp-append-version="true" alt="twitter"/>
                </a>
            </div>

            <div>
                <p class="bold-text project-details-header">OTHER PROJECTS</p>
                <hr />
            </div>
        </div>
    </div>
</div>
