@model CompetitionPlatform.Models.ProjectViewModels.ResultsPartialViewModel

@{
    var containsFirstPlaceWinner = Model.Winners.Any(x => x.Place == 1);
}

@if (Model.Status == Status.Submission || Model.Status == Status.Voting)
{
    <div class="banner banner--results">
        <img src="~/img/competition/banner-coin.svg" class="pull-right" width="88" alt="banner-coin">
        <div class="banner__content">
            <h4>Help us determine the winner!</h4>
            <p>Check the completed task, participants of the contest and choose the best result. You can cast votes for the various participants.</p>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table--board">
            <tr>
                <th class="board_name">Username</th>
                <th class="board_date">reg. and Subm. Date</th>
                <th class="board_result text-center">Result</th>
                <th class="board_score text-center">Score</th>
                <th class="board_vote text-center">Vote</th>
                <th class="board_action"></th>
            </tr>
            @foreach (var result in Model.Results)
            {
                <tr>
                    <td class="board_name">
                        <div class="user_badge user_badge--small">
                            <div class="user_badge__img"><img src="~/images/avatar.svg" alt=""></div>
                            <div class="user_badge__info">@result.ParticipantFullName</div>
                        </div>
                    </td>
                    <td class="board_date">@result.Submitted.ToString("MMMM dd, yyyy hh:mm")</td>
                    @if (Model.Status == Status.Voting || Model.IsAdmin)
                    {
                        <td class="board_result text-center"><a href="@result.Link">View</a></td>
                    }
                    else
                    {
                        <td class="text-center"><span class="check check--primary"></span></td>
                    }
                    <td class="board_score text-center">@result.Score<span class="text-muted">/100</span></td>
                    <td class="board_vote text-center">@result.Votes</td>
                    @if (Model.Status == Status.Voting)
                    {
                        <td class="board_action">
                            <form asp-controller="ProjectDetails" asp-action="VoteForResult" enctype="multipart/form-data">
                                <input type="hidden" name="ProjectId" value="@result.ProjectId">
                                <input type="hidden" name="ParticipantId" value="@result.ParticipantId">
                                <input type="submit" value="+1" class="circle_voting_btn _vote_plus" />
                            </form>
                        </td>
                    }

                </tr>
            }
        </table>
    </div>
}
@if (Model.Status == Status.Archive)
{
    <div class="banner banner--results">
        <div class="banner__content">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>
                            <div class="prize__value">$@Model.BudgetFirstPlace</div>
                            <span>Prize fund</span>
                        </td>
                        <td>
                            <div class="prize__value">@Model.ParticipantCount</div>
                            <span>Participants</span>
                        </td>
                        <td>
                            <div class="prize__value">@Model.DaysOfContest</div>
                            <span>Days of the contest</span>
                        </td>
                        <td>
                            <div class="prize__value">@Model.Results.Count()</div>
                            <span>Results</span>
                        </td>
                        <td>
                            <div class="prize__value">@Model.Winners.Count()</div>
                            <span>Winners</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        @if (!containsFirstPlaceWinner)
        {
            <p>
                For this project, none of the submitted results matched our experts expectations, so we decided not to award the first place prize.
            </p>
        }
    </div>

    <div class="table-responsive">
        @{
            var showSecondPlaceIcon = true;
        }
        <table class="table table--board table--board_results">
            @foreach (var winner in Model.Winners)
            {
                if (winner.Place == 1)
                {
                    <tr class="board_winner">
                        <td class="board_place">
                            <span class="icon icon--prize">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                            </span>
                        </td>
                        <td class="board_name">
                            <div class="user_badge user_badge--small">
                                <div class="user_badge__img">
                                    <a href=""><img src="~/images/avatar.svg" alt=""></a>
                                </div>
                                <div class="user_badge__info">
                                    <div class="user_badge__title">
                                        <a href="">@winner.FullName</a>
                                    </div>
                                    <span class="user_badge__desc">Score: @winner.Score/100 &middot; @winner.Votes votes</span>
                                </div>
                            </div>
                        </td>
                        <td class="board_result text-center"><a href="@winner.Result">View result</a></td>
                        <td class="board_sum">
                            <div class="prize__value">$ @winner.Budget</div>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        @if (showSecondPlaceIcon)
                        {
                            <td class="board_place">
                                <span class="icon icon--prize2"></span>
                            </td>
                            //showSecondPlaceIcon = false;
                        }
                        <td class="board_name">
                            <div class="user_badge user_badge--small">
                                <div class="user_badge__img">
                                    <a href=""><img src="~/images/avatar.svg" alt=""></a>
                                </div>
                                <div class="user_badge__info">
                                    <div class="user_badge__title">
                                        <a class="bold" href="">@winner.FullName</a>
                                    </div>
                                    <span class="user_badge__desc">Score: @winner.Score/100 &middot; @winner.Votes votes</span>
                                </div>
                            </div>
                        </td>
                        <td class="board_result text-center"><a href="@winner.Result">View result</a></td>
                        <td class="board_sum">
                            <div class="prize__value">$ @winner.Budget</div>
                        </td>
                    </tr>
                }

            }
        </table>
    </div>
}
