@using CompetitionPlatform.Data.AzureRepositories.Users
@model CompetitionPlatform.Models.ProjectViewModels.ResultsPartialViewModel

@{
    var containsFirstPlaceWinner = true;
    if (Model.Winners != null)
    {
        containsFirstPlaceWinner = Model.Winners.Any(x => x.Place == 1);
    }

    var closedVoting = Model.Status == Status.Archive && Model.SkipVoting && Model.IsAdmin;
    var showResults = Model.Status == Status.Submission || Model.Status == Status.Voting || Model.Status == Status.Archive;
}

@if (showResults)
{
    <div class="banner banner--results">
        <img src="~/img/competition/winner-voting-icn.svg" class="pull-left" width="80" alt="banner-coin">
        <div class="banner__content">
            <h4>Help us determine the winner!</h4>
            <p>
                Check the completed task, participants of the contest and choose the best result. You can cast votes for the various participants.
            <p>
                Project winners are decided by a score given by the community, as follows:
            </p>
            <p>
                <span class="middot h3">&middot;</span> Selected experts: 30%
            </p>
            <p>
                <span class="middot h3">&middot;</span> Project originator: 10%
            </p>
            <p>
                <span class="middot h3">&middot;</span> Sponsor providing cash incentives: 40%
            </p>
            <p>
                <span class="middot h3">&middot;</span> Lykke community votes: 20%
            </p>
            <p>
                A result is not eligible to win the competition without the author's vote, which states that it has matched the requirements.
            </p>
            @if (Model.Status != Status.Voting && Model.Status != Status.Archive)
                {
                <span>Voting will open after @Model.SubmissionsDeadline.ToString("MMMM d, yyyy.")</span>
            }
            </p>
        </div>
    </div>

    <div class="table-container">
        <table class="table table--board">
            <tr>
                <th class="board_name">Username</th>
                <th class="board_date">reg. and Subm. Date</th>
                <th class="board_result text-center">Result</th>
                @if (!Model.SkipVoting)
                {
                    @*<th class="board_score text-center">Score</th>*@
                    <th class="board_vote text-center">Vote</th>
                }
                @if (Model.Status == Status.Voting)
                {
                    <th class="board_action"></th>
                }
                @if (closedVoting)
                {
                    <th class="board_action text-center">Prize</th>
                }
            </tr>
            @foreach (var result in Model.Results)
            {

                var userVotedForResult = Model.UserVotedForResults.ContainsKey(result.ParticipantId) && Model.UserVotedForResults[result.ParticipantId].Equals(true);

                <tr>
                    <td class="board_name">
                        <div class="user_badge user_badge--small">
                            <a href="/userprofile/@result.ParticipantIdentifier" class="user_badge__img">
                                <img src="~/images/avatar.svg" alt="">
                            </a>
                            <a href="/userprofile/@result.ParticipantIdentifier" class="user_badge__info link-text-black">@result.ParticipantFullName</a>
                        </div>
                    </td>
                    <td class="board_date">@result.Submitted.ToString("MMMM dd, yyyy hh:mm")</td>
                    @if (Model.Status == Status.Voting || Model.IsAdmin)
                    {
                        <td class="board_result text-center"><a target="_blank" href="@result.Link">View</a></td>
                    }
                    else
                    {
                        <td class="text-center"><span class="check check--primary"></span></td>
                    }
                    @if (!Model.SkipVoting)
                    {
                        @*<td class="board_score text-center">0<span class="text-muted">/100</span></td>*@
                        <td class="board_vote text-center">@result.Votes</td>
                    }
                    @if (Model.Status == Status.Voting)
                    {
                        <td class="board_action">
                            <form asp-controller="ProjectDetails" asp-action="VoteForResult" enctype="multipart/form-data">
                                <input type="hidden" name="ProjectId" value="@result.ProjectId">
                                <input type="hidden" name="ParticipantId" value="@result.ParticipantId">
                                @if (userVotedForResult)
                                {
                                    <input type="submit" value="+1" class="circle_voting_btn _vote_plus voting-button-filled" />
                                }
                                else
                                {
                                    <input type="submit" value="+1" class="circle_voting_btn _vote_plus" />
                                }

                            </form>
                        </td>
                    }
                    @if (closedVoting)
                    {
                        IWinnerData winner = null;

                        var firstPlacePrizeAwarded = false;
                        var secondPlacePrizeAwarded = false;
                        var thirdPlacePrizeAwarded = false;
                        var fourthPlacePrizeAwarded = false;

                        if (Model.Winners != null)
                        {
                            winner = Model.Winners.FirstOrDefault(x => x.WinnerId == result.ParticipantId);

                            firstPlacePrizeAwarded = Model.Winners.All(x => x.Place != 1);
                            secondPlacePrizeAwarded = Model.Winners.All(x => x.Place != 2);
                            thirdPlacePrizeAwarded = Model.Winners.All(x => x.Place != 3);
                            fourthPlacePrizeAwarded = Model.Winners.All(x => x.Place != 4);
                        }

                        <td class="board_action">
                            <div class="dropdown closed-voting-dropdown">
                                @if (winner == null)
                                {
                                    <button type="button" aria-haspopup="true" aria-expanded="false" class="btn btn-plus dropdown-toggle closed-voting-places" data-toggle="dropdown">+</button>
                                }
                                else
                                {
                                    <button type="button" aria-haspopup="true" aria-expanded="false" class="circle_voting_btn _vote_plus dropdown-toggle closed-voting-places" data-toggle="dropdown">@winner.Place</button>
                                }

                                <div class="dropdown-menu dropdown-menu--tiny">
                                    <ul class="dropdown-list">
                                        @if (firstPlacePrizeAwarded)
                                        {
                                            <li>
                                                <a asp-area="" asp-controller="ProjectDetails" asp-action="SaveWinner" asp-route-projectId="@result.ProjectId"
                                                   asp-route-winnerId="@result.ParticipantId" asp-route-fullName="@result.ParticipantFullName" asp-route-place="1"
                                                   asp-route-result="@result.Link" asp-route-budget="@Model.BudgetFirstPlace">1st prize</a>
                                            </li>
                                        }
                                        @if (secondPlacePrizeAwarded)
                                        {
                                            <li>
                                                <a asp-area="" asp-controller="ProjectDetails" asp-action="SaveWinner" asp-route-projectId="@result.ProjectId"
                                                   asp-route-winnerId="@result.ParticipantId" asp-route-fullName="@result.ParticipantFullName" asp-route-place="2"
                                                   asp-route-result="@result.Link" asp-route-budget="@Model.BudgetSecondPlace">2nd prize</a>
                                            </li>
                                        }
                                        @if (thirdPlacePrizeAwarded)
                                        {
                                            <li>
                                                <a asp-area="" asp-controller="ProjectDetails" asp-action="SaveWinner" asp-route-projectId="@result.ProjectId"
                                                   asp-route-winnerId="@result.ParticipantId" asp-route-fullName="@result.ParticipantFullName" asp-route-place="3"
                                                   asp-route-result="@result.Link" asp-route-budget="@Model.BudgetSecondPlace">3rd prize</a>
                                            </li>
                                        }
                                        @if (fourthPlacePrizeAwarded)
                                        {
                                            <li>
                                                <a asp-area="" asp-controller="ProjectDetails" asp-action="SaveWinner" asp-route-projectId="@result.ProjectId"
                                                   asp-route-winnerId="@result.ParticipantId" asp-route-fullName="@result.ParticipantFullName" asp-route-place="4"
                                                   asp-route-result="@result.Link" asp-route-budget="@Model.BudgetSecondPlace">4th prize</a>
                                            </li>
                                        }
                                        @if (winner != null)
                                        {
                                            <li>
                                                <a asp-area="" asp-controller="ProjectDetails" asp-action="RemoveWinner" asp-route-projectId="@result.ProjectId"
                                                   asp-route-winnerId="@result.ParticipantId">No prize</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
}