@using CompetitionPlatform.Helpers
@model CompetitionPlatform.Models.ProjectViewModels.ResultsPartialViewModel

@{
    var containsFirstPlaceWinner = true;
    if (Model.Winners != null)
    {
        containsFirstPlaceWinner = Model.Winners.Any(x => x.Place == 1);
    }
}

@if (Model.Status == Status.Archive)
{
    var prizeFund = Model.Winners.Where(winner => winner.Budget != null).Sum(winner => (double)winner.Budget);
    var placeCounter = 0;
    var secondPlaceWinnerStyle = "col-xs-6 col-sm-3";
    <div>
        @if (!containsFirstPlaceWinner)
        {
            <p>
                For this project, none of the submitted results matched our experts expectations, so we decided not to award the first prize.
            </p>
        }
    </div>

    <div class="winners_list">
        <div class="row">
            @foreach (var winner in Model.Winners)
            {
                placeCounter = placeCounter + 1;
                var voteVotes = winner.Votes == 1 ? "vote" : "votes";
                Model.Avatars.TryGetValue(winner.WinnerIdentifier, out var winnerAvatar);
                if (winner.Place == 1)
                {
                    <div class="col-xs-6 col-sm-3">
                        <div class="winners_item winners_item--first">
                            <div class="winners_item__user">
                                <div class="winners_item__img">
                                    <a href="/userprofile/@winner.WinnerIdentifier">
                                        <img src="@ViewHelper.GetAvatarOrDefault(winnerAvatar)" alt="@winner.FullName">
                                    </a>
                                </div>
                                <span class="winners_item__label">1</span>
                            </div>
                            <div class="winners_item__title">
                                <a href="/userprofile/@winner.WinnerIdentifier">@winner.FullName</a>
                            </div>
                            @if (winner.Budget != null && winner.Budget > 0)
                            {
                                <div class="prize__value">$@winner.Budget</div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    if (placeCounter == 5)
                    {
                        secondPlaceWinnerStyle = "col-xs-12 col-sm-12";
                    }
                    <div class="@secondPlaceWinnerStyle">
                        <div class="winners_item">
                            <div class="winners_item__user">
                                <div class="winners_item__img">
                                    <a href="/userprofile/@winner.WinnerIdentifier">
                                        <img src="@ViewHelper.GetAvatarOrDefault(winnerAvatar)" alt="@winner.FullName">
                                    </a>
                                </div>
                                <span class="winners_item__label">2</span>
                            </div>
                            <div class="winners_item__title">
                                <a href="/userprofile/@winner.WinnerIdentifier">@winner.FullName</a>
                            </div>
                            @if (winner.Budget != null && winner.Budget > 0)
                            {
                                <div class="prize__value">$@winner.Budget</div>
                            }

                        </div>
                    </div>

                }
            }
        </div>
    </div>

    <div class="banner banner--results">
        <div class="banner__content">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>
                            <div class="prize__value">$@prizeFund</div>
                            <span>Prize fund</span>
                        </td>
                        <td>
                            <div class="prize__value">@Model.ParticipantCount</div>
                            <span>Participants</span>
                        </td>
                        <td>
                            <div class="prize__value">@Model.DaysOfContest</div>
                            <span>Days of the contest</span>
                        </td>
                        <td>
                            <div class="prize__value">@Model.Results.Count()</div>
                            <span>Results</span>
                        </td>
                        <td>
                            <div class="prize__value">@Model.Winners.Count()</div>
                            <span>Winners</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}
