@using CompetitionPlatform.Helpers
@model CompetitionPlatform.Models.UserProfile.CommentsViewModel
<div class="messages_list">
    @foreach (var comment in Model.CommentsList)
    {
        <div class="message_card">
            <div class="user_badge user_badge--small">
                <div class="user_badge__img">
                    <span>
                        <img src="@ViewHelper.GetAvatarOrDefault(Model.CommentAvatar)" alt="">
                    </span>
                </div>
                <div class="user_badge__message">
                    <div class="message_card__inner">
                        <div class="user_badge__title">
                            <span>@comment.FullName</span>
                            <span class="message_card__date">&middot; @comment.LastModified.ToString("hh:mm tt MMMM dd, yyyy")</span>
                        </div>
                        <div class="message_card__message">
                            <p>@comment.Comment</p>
                            <div class="card__actions">
                                <span class="action_text">Posted in</span>
                                <a class="action_link" asp-controller="Project" asp-action="ProjectDetails" asp-route-id="@comment.ProjectId" asp-fragment="tab_Comments">@comment.ProjectName</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>