@using CompetitionPlatform.Helpers
@model CompetitionPlatform.Models.UserProfile.UserProfileViewModel

@{
    ViewData["Title"] = "Profile";
    var fullName = Model.Profile.FirstName + " " + Model.Profile.LastName;

    var editProfileLink = @Model.AuthLink + "/profile";
}

<section class="section section--lead section--padding page--profile">
    <div class="container container--extend">
        <div class="row">
            <div class="pull-right">
                @if (ClaimsHelper.GetUser(User.Identity).Id != null && ClaimsHelper.GetUser(User.Identity).Id == Model.Profile.Id)
                {
                    <a href="@editProfileLink"><button class="btn btn-sm btn_edit">Edit Profile</button></a>
                }
            </div>
        </div>
        <div class="page__header">
            <div class="user_profile">
                <div class="row">
                    <div class="col-sm-8 user_profile__main">
                        <div class="user_badge">
                            <div class="user_badge__img">
                                @if (Model.AvatarUrl == null)
                                {
                                    <img src="~/assets/img/competition/user_default.svg" alt="user_image" width="160" height="160">
                                }
                                else
                                {
                                    <img src="@Model.AvatarUrl" alt="user_image" width="160" height="160">
                                }
                            </div>
                            <div class="user_badge__content">
                                <h1 class="h2">@fullName</h1>
                                <div class="hint">
                                    @if (Model.IsLykkeMember)
                                    {
                                        <span class="label label--yellow lykke-team-label">LYKKE TEAM</span>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.Profile.Website))
                                    {
                                        <a target="_blank" href="@Model.Profile.Website">@Model.Profile.Website</a>
                                    }
                                </div>
                                <p>@Html.Raw(Model.Profile.ShortBio)</p>

                                <div class="user_badge__contacts">
                                    <div class="social">
                                        @if (!string.IsNullOrEmpty(Model.Profile.Twitter))
                                        {
                                            <a target="_blank" href="@Model.Profile.Twitter" class="social__item"><i class="icon icon--tw"></i></a>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.Profile.Facebook))
                                        {
                                            <a target="_blank" href="@Model.Profile.Facebook" class="social__item"><i class="icon icon--fb_simple"></i></a>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.Profile.Github))
                                        {
                                            <a target="_blank" href="@Model.Profile.Github" class="social__item"><i class="icon icon--github"></i></a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (!Model.IsLykkeMember)
                    {
                        <div class="col-sm-4 user_profile__desc">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h5>Won</h5>
                                    <div class="prize__value">$@Model.WinningsSum</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-12 content__left">

                <div class="nav_scroll">
                    <ul class="nav nav-tabs" role="tablist">
                        @{
                            var activeTab = "active";
                            if (!Model.IsLykkeMember)
                            {
                                activeTab = "";
                                <li role="presentation" class="active"><a href="#participated" aria-controls="participated" role="tab" data-toggle="tab">Participated <sup>@Model.ParticipatedProjects.Count</sup></a></li>
                                <li role="presentation"><a href="#won" aria-controls="won" role="tab" data-toggle="tab">Won <sup>@Model.WonProjects.Count</sup></a></li>
                            }
                        }


                        <li role="presentation" class="@activeTab"><a href="#created" aria-controls="created" role="tab" data-toggle="tab">Created <sup>@Model.CreatedProjects.Count</sup></a></li>
                        <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments <sup>@Model.Comments.CommentsList.Count</sup></a></li>
                        @if (Model.IsLykkeMember)
                        {
                            <li role="presentation"><a href="#experts" aria-controls="experts" role="tab" data-toggle="tab">Experts <sup>@Model.ExpertedProjects.Count</sup></a></li>
                        }
                    </ul>
                </div>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane @(Model.IsLykkeMember ? "" : "active")" id="participated">
                        <div class="row">
                            @await Html.PartialAsync("ProfileProjectListPartial", Model.ParticipatedProjects)
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="won">
                        <div class="row">
                            @await Html.PartialAsync("ProfileProjectListPartial", Model.WonProjects)
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane @activeTab" id="created">
                        <div class="row">
                            @await Html.PartialAsync("ProfileProjectListPartial", Model.CreatedProjects)
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="comments">
                        <div class="row">
                            <div class="col-sm-8 automargin">
                                <div class="messages_list">
                                    @await Html.PartialAsync("ProfileCommentsListPartial", Model.Comments)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="experts">
                        <div class="row">
                            @await Html.PartialAsync("ProfileProjectListPartial", Model.ExpertedProjects)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
