@using CompetitionPlatform.Models
@model CompetitionPlatform.Models.ProjectViewModels.ProjectListIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h2>Lykke City</h2>
        <a asp-area="" asp-controller="Project" asp-action="Create" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> New Project
        </a>
    </div>
</div>

<select id="projectStatusFilter" name="projectStatusFilter" class="form-control">
    <option>Initiative</option>
    <option>Archive</option>
</select>

@foreach (var project in Model.Projects)
{
    <div class="col-md-6 project-tile">
        <div class="row">
            <div class="col-md-12">
                <a class="inline h3" asp-controller="Project" asp-action="ProjectDetails" asp-route-id="@project.Id">@project.Name</a>
                <div class="pull-right">
                    <div class="project-index-budget">$@project.BudgetFirstPlace</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="btn btn-xs btn-info project-status">
                    @project.Status
                </div>
            </div>
        </div>
        <div>@project.Description</div>
        <div class="row">
            <a asp-area="" asp-controller="Project" asp-action="ProjectDetails" asp-route-id="@project.Id" class="btn btn-xs btn-info pull-right">...</a>
        </div>
        <hr />
    </div>
}


