@model CompetitionPlatform.Models.ProjectViewModels.ProjectListIndexViewModel

@{
    ViewData["Title"] = "Projects";
    var createdTab = ViewBag.CreatedProjects;
    var followingTab = ViewBag.FollowingProjects;
    var participatingTab = ViewBag.ParticipatingProjects;

    var createdTabActive = createdTab != null && createdTab ? "tab_item--active" : "";
    var followingTabActive = followingTab != null && followingTab ? "tab_item--active" : "";
    var participatingTabActive = participatingTab != null && participatingTab ? "tab_item--active" : "";
}

<section class="section section--lead section--padding">
    <div class="container container--extend">
        <div class="page__header">
            <h2 class="pull-left">My projects</h2>
            <div class="tabs_stack pull-right">
                <div class="tab_item @createdTabActive">
                    <a class="tab_item__link" href="/Home/GetCreatedProjects">Created</a>
                </div>
                <div class="tab_item @followingTabActive">
                    <a class="tab_item__link" href="/Home/GetFollowingProjects">followed</a>
                </div>
                <div class="tab_item @participatingTabActive">
                    <a class="tab_item__link" href="/Home/GetParticipatingProjects">participating</a>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">
                <div class="select form-group" data-control="select">
                    <label for="myProjectCategoryFilter" class="select__label control-label">Category:</label>
                    <div class="select__value"><span class="_value">All</span></div>
                    <select id="myProjectCategoryFilter" name="myProjectCategoryFilter" class="form-control select__elem">
                        <option value="All">All</option>
                        @foreach (var category in Model.ProjectCategories)
                        {
                            <option value="@category">@category</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="select form-group" data-control="select">
                    <label for="myProjectStatusFilter" class="select__label control-label">Status:</label>
                    <div class="select__value"><span class="_value">All</span></div>
                    <select id="myProjectStatusFilter" name="myProjectStatusFilter" class="form-control select__elem">
                        <option value="All">All</option>
                        @foreach (var status in Enum.GetValues(typeof(Status)))
                        {
                            <option value=@status>@status</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="select form-group" data-control="select">
                    <label for="myProjectPrizeFilter" class="select__label control-label">Prize:</label>
                    <div class="select__value"><span class="_value">Ascending</span></div>
                    <select id="myProjectPrizeFilter" name="myProjectPrizeFilter" class="form-control select__elem">
                        <option value=Ascending>Ascending</option>
                        <option value=Descending>Descending</option>
                    </select>
                </div>
            </div>
            <div class="pull-right hidden-xs hidden-sm">
                <a type="button" class="btn btn-circle new-project-button" href="/Project/Create">+</a>
            </div>
        </div>
    </div>
</section>

<section class="section section--competition_list">
    <div class="container container--extend">
    </div>
</section>

<section id="myProjectListResults" class="section section--competition_list">
    @await Html.PartialAsync("ProjectListPartial", Model)
</section>
