@model CompetitionPlatform.Models.ProjectViewModels.ProjectListIndexViewModel

<div class="container container--extend">
    <div class="row">
        @foreach (var project in Model.Projects)
        {
            <div class="col-xs-12 col-sm-6">
                @{
                    var statusColor = "";
                    var projectStatus = project.BaseProjectData.Status.ToString().ToUpper();
                    var projectCount = "";
                    var votesCount = project.BaseProjectData.VotesFor + project.BaseProjectData.VotesAgainst;
                    var commentsCount = (project.CommentsCount == 1) ? project.CommentsCount + " comment" : project.CommentsCount + " comments";
                    var facebookSharingUrl = "https://www.facebook.com/sharer/sharer.php?u=" + Context.Request.Host + "/Project/ProjectDetails/" + project.BaseProjectData.Id;
                    var titleNoteExtended = "EXTENDED!";
                }

                @switch (project.BaseProjectData.Status)
                {
                    case Status.Draft:
                        statusColor = "label--flat label--gray";
                        break;
                    case Status.Initiative:
                        statusColor = "label--blue";
                        projectCount = (votesCount == 1) ? votesCount + " vote" : votesCount + " votes";
                        break;
                    case Status.Registration:
                        statusColor = "label--blue";
                        projectCount = (project.ParticipantsCount == 1) ? project.ParticipantsCount + " participant" : project.ParticipantsCount + " participants";
                        break;
                    case Status.Submission:
                        statusColor = "label--green";
                        projectCount = (project.ParticipantsCount == 1) ? project.ParticipantsCount + " participant" : project.ParticipantsCount + " participants";
                        break;
                    case Status.Voting:
                        statusColor = "label--yellow";
                        projectCount = (project.ResultsCount == 1) ? project.ResultsCount + " result" : project.ResultsCount + " results";
                        break;
                    case Status.Archive:
                        statusColor = "label--gray";
                        projectCount = (project.WinnersCount == 1) ? project.WinnersCount + " winner" : project.WinnersCount + " winners";
                        break;
                }
                <div class="card card--preview">
                    <div class="card__inner">
                        <div class="card__body">
                            <div class="card__breadcrumbs">
                                @*<div class="user_badge__img"><a href="/userprofile/@project.BaseProjectData.AuthorId"><img src="~/public/img/user_default.svg" alt=""></a></div>*@
                                <div class="user_badge__img">
                                    <a href="/userprofile/@project.BaseProjectData.AuthorIdentifier">
                                        @if (string.IsNullOrEmpty(project.AuthorAvatarUrl))
                                        {
                                            <img src="~/public/img/user_default.svg" alt="">
                                        }
                                        else
                                        {
                                            <img src="@project.AuthorAvatarUrl" alt="">
                                        }
                                    </a>
                                </div>
                                <a href="/userprofile/@project.BaseProjectData.AuthorId" class="breadcrumb_elem">@project.BaseProjectData.AuthorFullName</a>
                                <i class="icon icon--chevron-thin-right"></i>
                                <a href="/" class="breadcrumb_elem">@project.BaseProjectData.Category</a>
                            </div>
                            <div class="card__header">
                                @if (project.BaseProjectData.BudgetFirstPlace != 0)
                                {
                                    <div class="card__sum h3 pull-right">$@project.BaseProjectData.BudgetFirstPlace</div>
                                }

                                <div class="card__title h3">
                                    @if (project.BaseProjectData.Status == Status.Voting)
                                    {
                                        <a asp-controller="Project" asp-action="ProjectDetails" asp-route-id="@project.BaseProjectData.Id" asp-route-resultsActive=true>@project.BaseProjectData.Name</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Project" asp-action="ProjectDetails" asp-route-id="@project.BaseProjectData.Id">@project.BaseProjectData.Name</a>
                                    }
                                    @if (!string.IsNullOrEmpty(project.BaseProjectData.NameTag) && project.BaseProjectData.NameTag.ToUpper() != titleNoteExtended)
                                    {
                                        <sup class="project-list-name-tag">@project.BaseProjectData.NameTag</sup>
                                    }
                                </div>
                            </div>
                            <div class="card__desc">
                                @if (project.BaseProjectData.Status == Status.Registration)
                                {
                                    <span href="" class="label label--blue"><i class="icon icon--deadline_fill"></i> @projectStatus @project.BaseProjectData.CompetitionRegistrationDeadline.ToString("dd.MM.yyyy")</span>
                                    <span class="label label--text label--gray">Submission @project.BaseProjectData.ImplementationDeadline.ToString("dd.MM.yyyy")</span>
                                }
                                else if (project.BaseProjectData.Status == Status.Submission)
                                {
                                    var daysLeft = (project.BaseProjectData.ImplementationDeadline - DateTime.UtcNow.Date).Days;
                                    var daysLeftText = "";


                                    if (daysLeft == 1)
                                    {
                                        daysLeftText = "ends in " + daysLeft + " day";
                                    }
                                    else if (daysLeft == 0)
                                    {
                                        daysLeftText = "ends today";
                                    }
                                    else
                                    {
                                        daysLeftText = "ends in " + daysLeft + " days";
                                    }

                                    <span href="" class="label label--green"><i class="icon icon--deadline_fill"></i> @projectStatus @project.BaseProjectData.ImplementationDeadline.ToString("dd.MM.yyyy")</span>
                                    if (!string.IsNullOrEmpty(project.BaseProjectData.NameTag) && project.BaseProjectData.NameTag.ToUpper() == titleNoteExtended)
                                    {
                                        <span class="label label--text label--green project-extended-tag">Extended!</span>
                                    }
                                    <span class="label label--text label--gray">@daysLeftText</span>
                                }
                                else if (project.BaseProjectData.Status == Status.Voting)
                                {
                                    <span href="" class="label label--yellow"><i class="icon icon--deadline_fill"></i> @projectStatus @project.BaseProjectData.VotingDeadline.ToString("dd.MM.yyyy")</span>
                                }
                                else
                                {
                                    <span href="" class="label @statusColor">@projectStatus</span>
                                }
                            </div>
                            <p class="card__text">
                                @if (project.BaseProjectData.Overview.Length > 255)
                                {
                                    var overview = project.BaseProjectData.Overview.Substring(0, Math.Min(project.BaseProjectData.Overview.Length, 252)) + "...";
                                    @overview;
                                }
                                else
                                {
                                    @project.BaseProjectData.Overview
                                }
                            </p>
                            <div class="tags_list">
                                @foreach (var tag in project.Tags)
                                {
                                    <div class="tag_item">
                                        <a href="">@tag</a>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="card__footer">
                            <div class="card__actions">
                                @if (project.IsFollowing)
                                {
                                    <a asp-area="" asp-controller="ProjectDetails" asp-action="UnFollowProject" asp-route-id="@project.BaseProjectData.Id" id="followButton" class="action_link action_follow active pull-right">
                                        <i class="icon icon--follow"></i>Unfollow
                                    </a>
                                }
                                else
                                {
                                    <a asp-area="" asp-controller="ProjectDetails" asp-action="FollowProject" asp-route-id="@project.BaseProjectData.Id" id="followButton" class="action_link action_follow pull-right">
                                        <i class="icon icon--follow"></i>Follow
                                    </a>
                                }
                                @if (project.BaseProjectData.Status == Status.Voting)
                                {
                                    <a asp-area="" asp-controller="Project" asp-action="ProjectDetails" asp-route-id="@project.BaseProjectData.Id" asp-route-resultsActive=true class="action_link">Read more</a>
                                }
                                else
                                {
                                    <a asp-area="" asp-controller="Project" asp-action="ProjectDetails" asp-route-id="@project.BaseProjectData.Id" class="action_link">Read more</a>
                                }

                                &middot;
                                <a href="@facebookSharingUrl" class="action_link">Share</a>
                                &middot;
                                <a asp-area="" asp-controller="Project" asp-action="ProjectDetails" asp-route-id="@project.BaseProjectData.Id" asp-route-commentsActive=true class="action_link">@commentsCount</a>
                                &middot;
                                @*<div class="action_link cursor-default">@projectCount</div>*@
                                <a asp-area="" asp-controller="Project" asp-action="ProjectDetails" asp-route-id="@project.BaseProjectData.Id" asp-route-participantsActive=true class="action_link">@projectCount</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    }
    </div>
</div>
