@model CompetitionPlatform.Models.ProjectViewModels.ProjectListIndexViewModel

@foreach (var project in Model.Projects)
{
    <div class="col-md-6 project-tile">
        <div class="row">
            <div class="col-md-12">
                <a class="inline h2" asp-controller="Project" asp-action="ProjectDetails" asp-route-id="@project.Id">@project.Name</a>
                <div class="pull-right">
                    <div class="project-index-budget">$@project.BudgetFirstPlace</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @{ var statusColor = "";}

                @switch (project.Status)
                {
                    case Status.Initiative:
                        statusColor = "project-status-initiative";
                        break;
                    case Status.CompetitionRegistration:
                        statusColor = "project-status-competitionregistration";
                        break;
                    case Status.Implementation:
                        statusColor = "project-status-implementation";
                        break;
                    case Status.Voting:
                        statusColor = "project-status-voting";
                        break;
                    case Status.Archive:
                        statusColor = "project-status-archive";
                        break;
                }

                <div class="btn btn-xs btn-info project-status @statusColor inline">
                    @project.Status.ToString().ToUpper()
                </div>
                <p class="text-muted inline project-voting-text project-status-votes">
                    @(project.VotesFor + project.VotesAgainst) Votes
                </p>
            </div>
        </div>
        <div class="project-description">@project.Description</div>
        <div class="row project-tile-bottom">
            <a asp-area="" asp-controller="Project" asp-action="ProjectDetails" asp-route-id="@project.Id" class="btn btn-xs btn-info pull-right inline">...</a>
            <div class="inline pull-right comments-count">
                <span class="glyphicon glyphicon-comment index-comments-icon"></span>
                <div class="inline">
                    @project.CommentsCount
                </div>
            </div>
        </div>
        <hr />
    </div>
                    }
