@model CompetitionPlatform.Models.ProjectViewModels.ProjectListIndexViewModel

@foreach (var project in Model.Projects)
{
    <div class="col-md-6 project-tile">
        <div class="row">
            <div class="col-md-12">
                <a class="inline h2" asp-controller="Project" asp-action="ProjectDetails" asp-route-id="@project.Id">@project.Name</a>
                <div class="pull-right">
                    <div class="project-index-budget">$@project.BudgetFirstPlace</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @{
                    var statusColor = "";
                    var projectStatus = project.Status.ToString().ToUpper();
                    var projectCount = "";
                    var votesCount = project.VotesFor + project.VotesAgainst;
                }

                @switch (project.Status)
                {
                    case Status.Initiative:
                        statusColor = "project-status-initiative";
                        projectCount = (votesCount == 1) ? votesCount + " VOTE" : votesCount + " VOTES";
                        break;
                    case Status.CompetitionRegistration:
                        statusColor = "project-status-competitionregistration";
                        projectStatus = "COMPETITION REGISTRATION";
                        projectCount = (project.ParticipantsCount == 1) ? project.ParticipantsCount + " PARTICIPANT" : project.ParticipantsCount + " PARTICIPANTS";
                        break;
                    case Status.Implementation:
                        statusColor = "project-status-implementation";
                        break;
                    case Status.Voting:
                        statusColor = "project-status-voting";
                        break;
                    case Status.Archive:
                        statusColor = "project-status-archive";
                        break;
                }

                <div class="btn btn-xs btn-info project-status @statusColor inline">
                    @projectStatus
                </div>
                <div class="inline project-status-count">
                    <p class="text-muted inline">
                        @projectCount
                    </p>
                </div>
            </div>
        </div>
        <div class="project-description">@project.Description</div>
        <div class="row project-tile-bottom">
            <div class="row project-index-author">
                <div class="inline">
                    <img src="~/images/avatar.svg"
                         alt="@project.AuthorFullName"
                         asp-append-version="true" />
                </div>
                <p class="project-index-author-text bold-text inline">@project.AuthorFullName</p>
            </div>
            <a asp-area="" asp-controller="Project" asp-action="ProjectDetails" asp-route-id="@project.Id" class="pull-right inline project-details-button nohover text-muted">
                <span class="glyphicon glyphicon-option-horizontal"></span>
            </a>
            <div class="inline navbar-right comments-count text-muted">
                <span class="glyphicon glyphicon-comment index-comments-icon"></span>
                <div class="inline">
                    @project.CommentsCount
                </div>
            </div>

            <div class="inline pull-right project-deadline text-muted">
                @if (project.Status == Status.CompetitionRegistration)
                {
                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                    @project.CompetitionRegistrationDeadline.ToString("dd.MM.yy")
                }
                @if (project.Status == Status.Implementation)
                {
                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                    @project.ImplementationDeadline.ToString("dd.MM.yy")
                }
                @if (project.Status == Status.Voting)
                {
                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                    @project.VotingDeadline.ToString("dd.MM.yy")
                }
            </div>
        </div>
        <hr />
    </div>
                    }
